@import '../../style/color.css';
@import '../../style/size.css';

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container {
  max-width: 500px;
  width: 60vw;
  margin: 40px auto 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  margin-bottom: 2em;
}

.logo {
  height: var(--login-header-logo-height);
}

.title {
  font-size: 3.5rem;
  margin-left: 0.5em;
}

.input_container {
  position: relative;
  width: 100%;
  display: flex;
}

.button {
  height: var(--login-btn-height);
  width: 100%;
  border-radius: 25px;
  background-color: var(--color-primary-blue);
  color: var(--color-primary-white);
  font-size: 2.4rem;
  font-weight: bold;
}

.button:hover {
  background-color: var(--color-blue-button-hover);
}

.link {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1em;
  color: var(--color-secondary-dark-gray);
}

.signup {
  color: var(--color-primary-blue);
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
  }
}
