*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
