*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  width: 100%;
  outline: none;
  height: var(--login-input-height);
  padding: 0 1em;
  font-size: 1.6rem;
  margin-bottom: 2em;
  border: 2px solid var(--color-secondary-light-gray);
  border-radius: 5px;
}

input:focus {
  border-color: var(--color-primary-blue);
}

label {
  position: absolute;
  transform: translateY(100%);
  pointer-events: none;
  font-size: 1.6rem;
  margin-left: 1.25em;
  transition: 150ms ease-in;
}

input:focus ~ label {
  transform: translateY(20%);
  font-size: 1.2rem;
  color: var(--color-primary-blue);
}

input:not(:placeholder-shown) ~ label {
  transform: translateY(20%);
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
