*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
