@import '../../style/color.css';

.container {
  display: flex;
  padding: 2em;
  margin: 2em 0;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  min-height: 120px;
}

.avatar {
  height: 56px;
  width: 56px;
  margin: 0 2em;
  object-fit: contain;
}

.content {
  width: 100%;
}

.username {
  display: inline;
  font-size: 1.6rem;
}

.time_stamp {
  font-size: 1.4rem;
}

.text {
  font-size: 1.6rem;
}
