@import '../../style/color.css';

.container {
  display: flex;
  padding: 1em 2em;
  border: 1px solid var(--color-card-border);
  min-height: 120px;
}

.avatar {
  height: 56px;
  width: 56px;
  margin: 0 2em;
  border-radius: 50%;
  object-fit: contain;
}

.header {
  display: flex;
  align-items: flex-start;
}

.content {
  margin-top: 0.75em;
  width: 100%;
}

.name {
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 0.25em;
}

.username,
.time_stamp {
  font-size: 1.4rem;
}

.username:hover {
  color: var(--color-primary-blue);
}

.text {
  font-size: 1.6rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 1em;
}

.btn_edit,
.btn_delete,
.btn_close {
  background-color: transparent;
}

.btn_delete:hover {
  color: var(--color-secondary-red);
}

.btn_edit:hover {
  color: var(--color-secondary-green);
}

.icon {
  height: 24px;
  width: 24px;
}
