:root {
  --color-primary-blue: hsl(203, 89%, 53%);
  --color-primary-black: hsl(210, 13%, 9%);
  --color-primary-white: #ffffff;
  --color-secondary-dark-gray: hsl(207, 14%, 46%);
  --color-secondary-light-gray: hsl(205, 16%, 71%);
  --color-secondary-extra-light-gray: hsl(204, 33%, 97%);
  --color-secondary-red: hsl(3, 89%, 53%);
  --color-secondary-green: hsl(131, 54%, 40%);

  --color-form-edit-border: hsl(207, 91%, 64%);

  --color-blue-button-hover: hsl(203, 89%, 40%);
  --color-dark-gray-button-hover: hsl(207, 14%, 60%);
  --color-red-button-hover: hsl(3, 89%, 40%);
  --color-green-button-hover:  hsl(131, 54%, 30%);

  --color-card-border: rgb(239, 243, 244);
}
