@import '../../style/color.css';

.background {
  background-color: var(--color-primary-blue);
  min-width: 100vw;
  min-height: 100vh;
  color: var(--color-primary-white);
  display: flex;
}

.wrapper {
  margin: auto;
  display: flex;
}

.logo {
  object-fit: cover;
  height: 36rem;
}

.content {
  height: 40rem;
  margin-left: 7.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 10rem;
}

.sub_title {
  font-size: 7.5rem;
}

.buttons {
  display: flex;
  margin-top: 5em;
}

.login,
.signup {
  width: 20rem;
  height: 7rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 2em;
  padding: 0 1em;
  border-radius: 20px;
  color: var(--color-primary-white);
  text-align: center;
  line-height: 7rem;
}

.login {
  background-color: hsl(43, 89%, 53%);
}

.signup {
  background-color: hsl(23, 89%, 53%);
}

.login:hover {
  background-color: hsl(43, 89%, 60%);
}

.signup:hover {
  background-color: hsl(23, 89%, 60%);
}
