@import '../../style/color.css';

.background {
  min-width: 100vw;
  min-height: 100vh;
  color: var(--color-primary-black);
  display: flex;
}

.left {
  display: flex;
  flex-basis: 50%;
  background-color: var(--color-primary-blue);
}

.logo {
  object-fit: contain;
  max-width: 240px;
  width: 100%;
  margin: auto;
}

.right {
  flex-basis: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 6rem;
  width: 100%;
}

.slogan {
  font-size: 4rem;
  width: 100%;
}

.button {
  font-size: 2.5rem;
  font-weight: bold;
  width: 75%;
  padding: 0 2em;
  border-radius: 10px;
  color: var(--color-primary-white);
  margin-top: 0.75em;
  text-align: center;
  line-height: 7rem;
  background-color: var(--color-primary-blue);
}

.button:hover {
  background-color: var(--color-primary-blue-hover-light);
}

@media (max-width: 480px) {
  .background {
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
  }

  .right {
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
  }
  .logo {
    max-width: 175px;
    background-color: var(--color-primary-blue);
  }
  .button {
    background-color: var(--color-primary-white);
    color: var(--color-primary-black);
  }
  .wrapper {
    align-items: center;
  }
}
