@import '../../style/color.css';
@import '../../style/size.css';

.sidebar_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-right: 0.5em;
  color: var(--color-primary-black);
  transform: translateX(-100%);
  gap: 2em;
}

.sidebar_icon {
  font-size: var(--sidebar-icon-size);
}

.sidebar_logo {
  color: var(--color-primary-blue);
}

.sidebar_item {
  height: var(--sidebar-item-height);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.sidebar_item:hover {
  background-color: var(--color-sidebar-item-hover);
  border-radius: 25px;
}

.sidebar_title {
  margin-left: 1em;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .sidebar_container {
    padding-right: 0px;
  }
  .sidebar_title {
    display: none;
  }
}
