@import '../../style/color.css';
@import '../../style/size.css';

.sidebar_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  color: var(--color-primary-black);
  transform: translateX(-100%);
}

.sidebar_icon {
  font-size: var(--sidebar-icon-size);
}

.sidebar_logo {
  color: var(--color-primary-blue);
}

.sidebar_item {
  height: var(--sidebar-item-height);
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar_title {
  margin-left: 1em;
  font-weight: bold;
  font-size: 2rem;
}

.log_out {
  background-color: var(--color-secondary-red);
  color: var(--color-primary-white);
  height: calc(var(--sidebar-item-height) * 0.75);
  width: 100%;
  border-radius: 25px;
  font-size: 2rem;
  padding: 0 1em;
}

.log_out:hover {
  background-color: var(--color-red-button-hover);
}
