@import '../../style/color.css';
@import '../../style/size.css';

.header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary-light-gray);
  padding: 2em;
}

.header_left {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  height: var(--header-logo-height);
  width: var(--header-logo-width);
}

.username {
  margin-left: 2em;
  font-size: 1.6rem;
  color: var(--color-primary-black);
}

.button {
  width: 10rem;
  height: 5rem;
  border-radius: 5px;
  margin-right: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: var(--color-secondary-dark-gray);
}

.button:hover {
  background-color: var(--color-dark-gray-button-hover);
}

.btn_logout {
  width: 10rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #1da1f2;
  border-radius: 5px;
  color: white;
}

.btn_logout:hover {
  background-color: var(--color-blue-button-hover);
}
