@import '../../style/color.css';

.banner {
  width: 100%;
  padding: 2em;
  margin-bottom: 2em;
  border-radius: 10px;
  color: var(--color-primary-white);
}

.banner_red {
  background-color: var(--color-secondary-red);
}

.banner_green {
  background-color: var(--color-secondary-green);
}

.desc {
  font-size: 1.4rem;
}
