@import '../../style/color.css';
@import '../../style/size.css';

.layout {
  display: grid;
  grid-template-columns: 1fr minmax(415px, 600px) 1fr;
}

.left {
  justify-self: end;
}

.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  border: 1px solid var(--color-card-border);
  padding: 1em;
}
